<head>
    <title><%= headerTitle %></title>

    <!-- Required meta tags -->
    <%- include meta %>
    <!-- Required Stylesheets -->
    <%- include stylesheets %>
    <!-- Required scripts -->
    <%- include scripts %>

</head>