body{
    background-image: url('../image/centrohp.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

.navbar{
    background-color: #000000;
}

.btn{
    background-color: #cd8f5a;
}