body{
	background-image: url('../image/fondo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto;
}
.navbar{
    background-color: #efd199;
}
.w3-container{
    background-color:#ffedce;
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.element{
    margin: auto;
}

.col-sm-2{
     margin-left: 35%;
}

.card{
     border-width: 20px;
}