
body{
	background-image: url('../centrohp.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}
.navbar{
	background-color: #efd199;
}
.w3-container{
	background-color:#ffedce;
	max-width: 1200px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;


}