
body{
	background-image: url('../centrohp.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}
.navbar{
	background-color: #efd199;
}