<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Agregar Medico</title>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    <link
      
      rel="stylesheet"
      href="../css/agregarMedico.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-color: #657c86;">
    <nav class="navbar navbar-expand-md navbar-light">
		<div class="container">
          
          <button type="button" class="btn btn-outline-dark btn-sm">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
          
          <a class="navbar-brand" href="#">CENTROS HOSPITALARIOS</a>
		  
		  
		  <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesion</a>
        </div>
    </nav>
    <div class="w3-container w3-teal my-2">
        <h1>Agregar un Medico Nuevo</h1>
        <hr class="my-2">
        <form>
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group">
                <label for="last">Apellido:</label>
                <input type="text" class="form-control" id="apellido">
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                  <label for="DNI">DNI</label>
                  <input class="form-control" id="DNI" type="text">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <label for="mat">Matricula</label>
                  <input class="form-control" id="matricula" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="esp">Especialidad:</label>
                <input type="text" class="form-control" id="especialidad">
            </div>
            <div class="form-group">
                <label for="date">Fecha de Nacimiento:</label>
                <input id="datepicker" width="270" />
                <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap'
                });
                </script>
            </div>
            <div class="input-group">
                <div class="col-md-4">
                  <label for="dir">Direccion</label>
                  <input class="form-control" placeholder="Calle" id="calle" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="dir">.</label>
                    <input class="form-control" placeholder="Numero" id="numero" type="text">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Ciudad" id="ciudad">
            </div>
            <div class="text-center">
                <button class="btn btn-outline-dark w-25" type="submit" id="guardar" style="background-color: #57c026;">Agregar</button>
            </div>
        </form>        
    </div>

    
  </body>
</html>