<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Caso</title>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    <link
      
      rel="stylesheet"
      href="../css/Caso.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: #657c86;">
    <!--aca va otro que coincide mejor con el mockup de login-->
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
          
          <button type="button" class="btn btn-outline-dark btn-sm">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
          
          <a class="navbar-brand" href="#">CENTROS HOSPITALARIOS</a>
      
      
      <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesion</a>
    </div>
  </nav>
    <!-- Fin de la barra -->
    <hr class="my-2">
      <!--div class="jumbotron jumbotron-fluid"-->
        <div class="w3-container w3-teal">
          <div class="row">
            <div class="col-md-6 mb-2">
              <h1 class="display-4">CASO ID: tal</h1>
              <h6 class="lead">Detalle del caso</h6>
              <h6 class="card-text"><strong>DNI: </strong> 37973754 </h6>
              <h6 class="card-text"><strong>Fecha inicio: </strong>09/05/2020 </h6>
              <div>
                <h6>
                  <strong>Estado: </strong>
                  <span class="badge bg-primary"></span> 
                  <span class="badge bg-info"></span>
                  <span class="badge bg-warning"></span>
                  <span class="badge bg-success">Estable</span>
                  <button class="btn btn-primary btn-sm" type="submit"> Modificar Estado</button>
                </h6>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card example-1 scrollbar-ripe-malinka">
                <div class="card-body">
                  <h4 id="section1"><strong>Enfermedades Previas</strong></h4>
                  <ul class="list-group">
                    <li class="list-group-item">Diabetes</li>
                    <li class="list-group-item">Enfermedad x</li>
                    <li class="list-group-item">Enfermedad y</li>
                    <li class="list-group-item">Enfermedad z</li>
                    <li class="list-group-item">Asma</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- inicio de la tabla de datos -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card example-1 scrollbar-ripe-malinka">
                <div class="card-body">
                  <h4 id="section1"><strong>Partes Médicos</strong></h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Estado vital</th>
                        <th scope="col">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>0001</td>
                        <td>Vivo</td>
                        <td>12/06/2020</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>0002</td>
                        <td>Grave</td>
                        <td>13/06/2020</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>0003</td>
                        <td>Fallecido</td>
                        <td>14/06/2020</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr class="my-2">
              <div class="text-right">
                <button class="btn btn-primary" type="submit"> Agregar Parte Médico</button>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card example-1 scrollbar-ripe-malinka">
                <div class="card-body">
                  <h4 id="section1"><strong>Pruebas</strong></h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha Prueba</th>
                        <th scope="col">Fecha Resultado</th>
                        <th scope="col">Resultado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>0001</td>
                        <td>09/06/2020</td>
                        <td>10/06/2020</td>
                        <td>Negativo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>0002</td>
                        <td>10/06/2020</td>
                        <td>12/06/2020</td>
                        <td>Positivo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>0003</td>
                        <td>12/06/2020</td>
                        <td>--</td>
                        <td>Sin Resultado</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr class="my-2">
              <div class="text-right">
                <button class="btn btn-primary" type="submit"> Agregar Prueba</button>
              </div>
            </div>
          </div>
          
        </div>
      <!--/div-->
  </body>
</html>