<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Consulta</title>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    <link
      
      rel="stylesheet"
      href="../css/Consultas.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: #657c86;">
    <!--aca va otro que coincide mejor con el mockup de login-->
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="container">
          
          <button type="button" class="btn btn-outline-dark btn-sm">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
          
          <a class="navbar-brand" href="#">CENTROS HOSPITALARIOS</a>
		  
		  
		  <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesion</a>
		</div>
  </nav>
    <!-- Fin de la barra -->
    <hr class="my-2">
      <!--div class="jumbotron jumbotron-fluid"-->
        <div class="w3-container w3-teal">
          <h1 class="display-4">CONSULTA ID: tanto</h1>
          <p ><strong>Estado: </strong>
            <span class="badge bg-warning">Sin contestar</span>
            <span class="badge bg-success">Contestado</span>
          </p>
          <p class="text-right">Fecha de creación: {{}}</p>
          <hr class="my-4">
          <h3>Nombre y Apellido: {{ape}},{{nom}}</h3>
          <h6>{{TipoDoc}}: {{Nro Doc}} </h6>
          <h6>Fecha de Nacimiento: {{fecnac}} </h6>
          <h6>Sexo: {{undefined}} </h6>
          <h6>Domicilio: {{dom}} </h6>
          <hr class="my-2">
          <h3>Contactos</h3>
          <h6>Teléfono: {{tel}} </h6>
          <h6>Correo Electrónico: {{mail}} </h6>
          <hr class="my-2">
          <h3>Sintomas y signos</h3>
          <ul>
            <li>{{sintomaA}}</li>
            <li>{{sintomaB}}</li>
            <li>{{sintomaC}}</li>
          </ul>
          <hr class="my-2">
          <h3>Enfermedades previas</h3>
          <h6>Peso al nacer: {{peso}}g </h6>
          <h6>Semana de pematuridad: {{semana}} </h6>
          <ul>
            <li>{{enmerfedadA}}</li>
            <li>{{enfermedadB}}</li>
            <li>{{enfermedadC}}</li>
          </ul>
          <hr class="my-2">
          <h3>Antecedente epidemiologicos</h3>
          <h6>Tipo de ocupación: {{ni idea que es}} </h6>
          <h6>Vacuna Anti Gripal: {{Posee/NoPosee}} </h6>
          <ul>
            <li>Desde {{Fecini}} hasta {{fecven}}</li>
          </ul>
          <h6>Estuvo en Lugar de Contagio fuera del país: {{Si/No}} </h6>
          <ol>
            <li>Ciudad: {{Ciudad}} Pais:{{Pais}} Desde {{Fecini}} hasta {{fecven}}</li>
            <li>Ciudad: {{Ciudad}} Pais:{{Pais}} Desde {{Fecini}} hasta {{fecven}}</li>
          </ol>
          <h6>Estuvo en Centro con Caso COVID dentro del país: {{Si/No}} </h6>
          <ol>
            <li>Ciudad: {{Ciudad}} Centro:{{Nombrecentro}} Fecha de visita {{Fecha}}</li>
            <li>Ciudad: {{Ciudad}} Centro:{{Nombrecentro}} Fecha de visita {{Fecha}}</li>
          </ol>
          <h6>Residio dentro del país previo a Sintomas: {{Si/No}} </h6>
          <ol>
            <li>Domicilio: {{Domicilio}} Desde {{Fecini}} hasta {{fecven}}</li>
            <li>Domicilio: {{Domicilio}} Desde {{Fecini}} hasta {{fecven}}</li>
          </ol>
          <hr class="my-4">
          <h1>Diagnóstico</h1>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          <hr class="my-1">
          <div class="text-right">
            <button class="btn btn-primary" type="submit"> Confirmar diagnóstico</button>
          </div>
        </div>
      <!--/div-->
  </body>
</html>