<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Home Administracion</title>
    <!-- Required Stylesheets -->
    <!--link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    /-->

    <link
      rel="stylesheet"
      href="../css/inicioadmin.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body style="background-color: #657c86;">
	<!--aca va otro que coincide mejor con el mockup de login-->
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">

		  <a class="navbar">Bienvenido {admin.nombre}</a>
		  
		  <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesión</a>
		</div>
	</nav>
    <!-- Fin de la barra -->
    <!-- Botones -->
    <botones>
      <div class="botones justify-content-md-center">
            <a class="recursos" href="#">Recursos</a>
            <a class="medicos" href="#">Medicos</a>

        </div>
    </botones>
</body>
</html>
