<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Pedido Recursos</title>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    <link
      
      rel="stylesheet"
      href="../css/realizarPedido.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: #657c86;">
    <nav class="navbar navbar-expand-md navbar-light">
		<div class="container">
          
          <button type="button" class="btn btn-outline-dark btn-sm">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
          
          <a class="navbar-brand" href="#">CENTROS HOSPITALARIOS</a>
		  
		  
		  <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesion</a>
        </div>
    </nav>
    <div class="w3-container w3-teal my-2">
        <h1>Realizar Peticion de Recursos</h1>
        <hr class="my-2">
        <br></br>
        <form id="form-group ">
          <div class="card border-dark">
            <div class="card-body">
            <div class="form-row align-items-center">
               <label for="name" class="col-sm-2 col-form-label">Camillas:</label>
               <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
            <div class="form-row align-items-center">
              <label for="name" class="col-sm-2 col-form-label">Barbijos:</label>
              <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
            <div class="form-row align-items-center">
              <label for="name" class="col-sm-2 col-form-label">Jeringas:</label>
              <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
            <div class="form-row align-items-center">
              <label for="name" class="col-sm-2 col-form-label">Alcohol (litros):</label>
              <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
            <div class="form-row align-items-center">
              <label for="name" class="col-sm-2 col-form-label">Jabon (litros):</label>
              <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
            <div class="form-row align-items-center">
              <label for="name" class="col-sm-2 col-form-label">Cofias:</label>
              <input type="number" value="0" min="0" max="1000" step="0"/>
            </div>
          </div>
        </div>
            <!--<div class="form-group">
                <label for="last">Apellido:</label>
                <input type="text" class="form-control" id="apellido">
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                  <label for="DNI">DNI</label>
                  <input class="form-control" id="DNI" type="text">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <label for="ex2">Matricula</label>
                  <input class="form-control" id="matricula" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="esp">Especialidad:</label>
                <input type="text" class="form-control" id="especialidad">
                <input type="number" value="500" min="0" max="1000" step="10"/>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                  <label for="dir">Direccion</label>
                  <input class="form-control" placeholder="Calle" id="calle" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="dir">.</label>
                    <input class="form-control" placeholder="Numero" id="numero" type="text">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Ciudad" id="ciudad">
            </div>-->
        </form>
        <br></br>
        <div class="text-center">
          <button class="btn btn-outline-dark pull-right" type="submit"style="background-color: #57c026;">Enviar Peticion</button>
        </div>        
    </div>

    
  </body>
</html>