<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Medicos</title>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    <link
      
      rel="stylesheet"
      href="../css/verMedicos.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="icon" href="../image/Umbrella.png" sizes="32x32" type="image/png">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script language="javascript" src="/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: #657c86;">
    <!--aca va otro que coincide mejor con el mockup de login-->
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="container">
          
          <button type="button" class="btn btn-outline-dark btn-sm">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
          
          <a class="navbar-brand" href="#">CENTROS HOSPITALARIOS</a>
		  
		  
		  <a class="btn btn-outline-dark pull-right" style="background-color: #cd8f5a;" href="#">Cerrar Sesion</a>
		</div>
  </nav>
    <!-- Fin de la barra -->
    <hr class="my-2">
      <!--div class="jumbotron jumbotron-fluid"-->
        <div class="w3-container w3-teal">
          <h1 class="display-4">Medicos</h1>
          <hr class="my-4">
          <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm col-md-4" type="text" placeholder="Search" aria-label="Search">
            <div class= "col-md-6"></div>
            <button class="btn btn-outline-success my-2 my-sm-0 col-md-2"  type="submit">Agregar Medico</button>
            
          </form>
          <hr class="my-1">
          <div class="btn-group d-flex" role="group">
            <a class="btn btn-outline-secondary w-100" > Matricula </a>
            <a class="btn btn-outline-secondary w-100" > DNI </a>
            <a class="btn btn-outline-secondary w-100" > Nombre </a>
            <a class="btn btn-outline-secondary w-100" > Especialidad </a>
          </div>

          <hr class="my-2">
          <!-- inicio de la tabla de datos -->
          <table class="table table-striped">
            
            <tbody>
              <tr>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card" style="background-color: beige; border-color: #333;">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="cuerpoDatos col-sm-8">
                                            <h2 class="card-title">Nombre: Jauroski, Martin</h2>
                                            <p class="card-text"><strong>DNI: </strong> 37973754 </p>
                                            <p class="card-text"><strong>Matricula: </strong> Pediatra </p>
                                            <p class="card-text"><strong>Fecha de Nacimiento: </strong> 12/05/1993 </p>
                                            <p class="card-text"><strong>Direccion: </strong> Coati 123, Ituzaingo, Misiones </p>
                                            </p>
                                        </div>
                                        <div class="imagen col-sm-4 text-center">
                                            <img class="image" src="../image/medico.png" alt="" style="border-radius:50%;">
                                        </div> 
                                    </div>
                                    <div class="botoneditar">
                                        <button type="button" class="edit btn-secondary">Editar Datos</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
              </tr>
              <br></br>
              <tr>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card" style="background-color: beige; border-color: #333;">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="cuerpoDatos col-sm-8">
                                            <h2 class="card-title">Nombre: Bravin, Juan Ignacio</h2>
                                            <p class="card-text"><strong>DNI: </strong> 41223456 </p>
                                            <p class="card-text"><strong>Matricula: </strong> Urologo </p>
                                            <p class="card-text"><strong>Fecha de Nacimiento: </strong> 31/12/1999 </p>
                                            <p class="card-text"><strong>Direccion: </strong> Ruta 11 km.1234, Resistencia, Chaco </p>
                                            </p>
                                        </div>
                                        <div class="imagen col-sm-4 text-center">
                                            <img class="image" src="../image/medico.png" alt="" style="border-radius:50%;">
                                        </div> 
                                    </div>
                                    <div class="botoneditar">
                                        <button type="button" class="edit btn-secondary">Editar Datos</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
              </tr>
            </tbody>
          </table>
          <!-- Fin de la tabla de datos -->
        </div>
      <!--/div-->
  </body>
</html>