<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script language="javascript" src="/vue.js"></script>
  <script language="javascript" src="/boostrap.min.js"></script>
  <link
      type="text/css"
      rel="stylesheet"
      href="/bootstrap.min.css"
    />
    
</head>



<body>
  <div id="app" class="red">
    
    <ul>
      <li v-for="calle in calles" class="text-warning">{{calle.nombre}}</li>
    </ul>
  </div>

  <script>

    Vue.use(Vuetify);
      var app = new Vue({
        el: '#app',
        data: {
          calles: JSON.parse('<%- calles %>')
        }
      })
    </script>
</body>
</html>